<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./assets//favicon.ico">

    <title>FAQ's | LostRib</title>
    <link href="./assets//css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
    <link href="./assets/css/dashboard.css" rel="stylesheet">
    <link href="./assets/css/main.css" rel="stylesheet">
    <link href="./assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  </head>

  <body>
       <section id="navbar">
   <nav class="navbar navbar-default">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img width="122px" class="img-responsive" src="./assets/images/mainlogo.png"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class=""><a href="#">Matches</a></li>
            <li class=""><a href="#">Daily Matches</a></li>
            <li class=""><a href="#">Premium</a></li>
            <li class=""><a href="#">Upgrade</a></li>
              <li class=""><a href="#">Help to the Top</a></li>
              <li class=""><a href="#"><i class="fa fa-search"></i></a></li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
             <li><a href="#" class="nav navbar-nav account_link">My Account</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!--Top navbar -->
    
    <!-- second navbar -->
    <nav class="secondNav">
        <ul>
            <li>
            <span>
                Over 1,200,203 genuine <img width="25.4" class="img-responsive img-circle" src="./assets/images/nija.jpg"> users since 2006</span>
            </li>
            <li class="new_user text-center">
                <span class="new_user_name">
                YESIMAMA<p style="font-size: 10px;">just joined</p>
                </span>
            </li>
            <li class="new_user text-center">
                <span class="new_user_name">
                RECENT ACTIVITIES<p style="font-size: 10px;">In the last one hour</p>
                </span>
            </li>
            <li>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                  aria-valuemin="0" aria-valuemax="100" style="width:80%">
                    1392 Messages
                  </div>
                </div>
            </li>
            <li>
                <div class="progress">
                  <div class="progress-bar progress-bar-purple" role="progressbar" aria-valuenow="40"
                  aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                    1392 Profile Views
                  </div>
                </div>
            </li>
            <li>
                <div class="progress">
                  <div class="progress-bar progress-bar-lime" role="progressbar" aria-valuenow="40"
                  aria-valuemin="0" aria-valuemax="100" style="width:80%">
                    1392 Searches
                  </div>
                </div>
            </li>
        </ul>
    </nav>
    <!-- second navbar -->
    </section>
       <div class="container">
           <div class="jumbotron white text-center">
               <h2>Frequently Asked Questions</h2>
               <form>
                   <input class="search_field" type="text" placeholder="Enter MatID">
                   <input class="btn search view-profile2" value="Search" type="submit">
               </form>
           </div>
           <div class="row">
               <div class="col-md-4">
                   <div class="row registration">
                       <ul>
                       <h4>Registeration</h4>
                       <li><a class="a_link" href="#">How to register?</a></li>
                       <li><a class="a_link" href="#">What is profile validation?</a></li>
                       <li><a class="a_link" href="#">On what criteria is a profile validated?</a></li>
                       <li><a class="a_link" href="#">Single registration - multiple domains</a></li>
                       <li><a class="a_link" href="#">Profile description - what to enter?</a></li>
                       <li><a class="a_link" href="#">What all information from my profile will be displayed to other members?</a></li>
                       <li><a class="a_link" href="#">Can I use the same e-mail ID for multiple registrations?</a></li>
                       <li><a class="a_link" href="#">What is Mobile Number Verification?</a></li>
                       <li><a class="a_link" href="#">How to verify your mobile number?</a></li>
                       <li><a class="a_link" href="#">How to hide mobile number?</a></li>
                       <li><a class="a_link" href="#">Who viewed my mobile number?</a></li>
                   </ul>
                   </div>
                   <div class="row">
                       <ul>
                       <h4>Extras</h4>
                       <li><a class="a_link" href="#">How to register?</a></li>
                       <li><a class="a_link" href="#">What is profile validation?</a></li>
                       <li><a class="a_link" href="#">On what criteria is a profile validated?</a></li>
                       <li><a class="a_link" href="#">Single registration - multiple domains</a></li>
                   </ul>
                   </div>
               </div>
               <div class="col-md-4">
                    <div class="row create_profile">
                       <ul>
                       <h4>Creating My Profile</h4>
                       <li><a class="a_link" href="#">How to register?</a></li>
                       <li><a class="a_link" href="#">What is profile validation?</a></li>
                       <li><a class="a_link" href="#">On what criteria is a profile validated?</a></li>
                       <li><a class="a_link" href="#">Single registration - multiple domains</a></li>
                   </ul>
                   </div>
                   <div class="row create_profile">
                       <ul>
                       <h4>Memberships</h4>
                       <li><a class="a_link" href="#">How to register?</a></li>
                       <li><a class="a_link" href="#">What is profile validation?</a></li>
                       <li><a class="a_link" href="#">On what criteria is a profile validated?</a></li>
                       <li><a class="a_link" href="#">Single registration - multiple domains</a></li>
                   </ul>
                   </div>
                   <div class="row create_profile">
                       <ul>
                       <h4>Miscellaneous</h4>
                       <li><a class="a_link" href="#">How to register?</a></li>
                       <li><a class="a_link" href="#">What is profile validation?</a></li>
                       <li><a class="a_link" href="#">On what criteria is a profile validated?</a></li>
                       <li><a class="a_link" href="#">Single registration - multiple domains</a></li>
                   </ul>
                   </div>
               </div>
               <div class="col-md-4">
                   <div class="row contact_ways">
                       <ul>
                       <h4>Ways to Contact</h4>
                       <li><a class="a_link" href="#">How to register?</a></li>
                       <li><a class="a_link" href="#">What is profile validation?</a></li>
                       <li><a class="a_link" href="#">On what criteria is a profile validated?</a></li>
                       <li><a class="a_link" href="#">Single registration - multiple domains</a></li>
                       <li><a class="a_link" href="#">Profile description - what to enter?</a></li>
                       <li><a class="a_link" href="#">What all information from my profile will be displayed to other members?</a></li>
                   </ul>
                   </div>
                   <div class="row">
                       <ul>
                       <h4>Search Profile</h4>
                       <li><a class="a_link" href="#">How to register?</a></li>
                       <li><a class="a_link" href="#">What is profile validation?</a></li>
                       <li><a class="a_link" href="#">On what criteria is a profile validated?</a></li>
                       <li><a class="a_link" href="#">Single registration - multiple domains</a></li>
                       <li><a class="a_link" href="#">Profile description - what to enter?</a></li>
                       <li><a class="a_link" href="#">What all information from my profile will be displayed to other members?</a></li>
                   </ul>
                   </div>
               </div>
           </div>
           <div class="well-lg text-center well_text">
               Need help? Here's one click assistance! <a class="a_link" href="#">Click here</a> and we will get in touch with you right away.
           </div>
           <div class="jumbotron low_white text-center footer">
                <img class="img-responsive" src="./assets/images/mainlogo.png" width="122px">
                <h5>© Copyright 2017. All Rights Reserved.</h5>
        </div>
      </div>
       <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="./assets/js/jquery-3.2.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
  <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>