body {
	overflow-x: hidden;
	color: #989dac;
	font-family: tahoma;
}
/*css for navbar general*/
div.container-fluid > div.collapse > ul.nav {
	padding-top: 18px;
}
div.container-fluid > div.collapse > ul > li {
	display: inline-grid;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 500;
}
div.container-fluid > div.collapse > ul > li > a > span {

}
div.navbar-header > a.navbar-brand > img.img-responsive {
margin-right: 70px;
margin-left: 38px;
}
div.collapse > ul.navbar-right > li > a.account_link {
	color: #38c7da;
    font-size: 18px;
    padding-top: 18px;
    margin-right: 0px;
}
nav.navbar-default .navbar-nav > li > a {
	color: #989dac;
	font-size: 16px;
}
div.collapse > ul.navbar-right {
	border-left: 1px solid rgba(221, 221, 221, 0.49);
}

/*End of css for navbar general*/


nav.secondNav  {
	width: 100%;
	background-color: #b34376;
	color: #FFFFFF;
}
nav.secondNav > ul  {
	font-size: 14px;
	padding-left: 20px;
}
nav.secondNav > ul > li {
	display: inline-block;
	font-family: tahoma;
	font-weight: 500;
	letter-spacing: .5px;
	padding-right: 20px;
}
nav.secondNav > ul > li:nth-child(1) {
	padding-left: 35px;
}
nav.secondNav > ul > li:nth-child(2) {
	padding-left: 20px;
	border-right: 0.8px solid rgba(221, 221, 221, 0.49);
	border-left: 0.8px solid rgba(221, 221, 221, 0.49);
}
nav.secondNav > ul > li:nth-child(3)  {
	display: inline-block;
	font-family: tahoma;
	font-weight: 800;
	border-left: 0.8px solid transparent;
	border-right: 0.8px solid transparent;
	letter-spacing: .5px;
	padding-right: 20px;
	padding-left: 20px;
}
nav.secondNav > ul > li:nth-child(4)  {
	width: 14%;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 7px;
}
nav.secondNav > ul > li:nth-child(4) > div.progress  {
	border-radius: 0;
	height: 30px;
	margin-bottom: 0px;
}
nav.secondNav > ul > li:nth-child(4) > div.progress > .progress-bar-success {
	background-color: rgba(92, 184, 92, 0.44);
}
nav.secondNav > ul > li:nth-child(4) > div.progress > div.progress-bar {
	padding-top: 3px;
}
nav.secondNav > ul > li:nth-child(5)  {
	width: 14%;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 7px;
}
nav.secondNav > ul > li:nth-child(5) > div.progress  {
	border-radius: 0;
	height: 30px;
	margin-bottom: 0px;
}
nav.secondNav > ul > li:nth-child(5) > div.progress > .progress-bar-purple {
	background-color: rgba(138, 48, 237, 0.37);
}
nav.secondNav > ul > li:nth-child(5) > div.progress > div.progress-bar {
	padding-top: 3px;
}
nav.secondNav > ul > li:nth-child(6)  {
	width: 14%;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 7px;
}
nav.secondNav > ul > li:nth-child(6) > div.progress  {
	border-radius: 0;
	height: 30px;
	margin-bottom: 0px;
}
nav.secondNav > ul > li:nth-child(6) > div.progress > .progress-bar-lime {
	background-color: rgba(37, 173, 117, 0.59);
}
nav.secondNav > ul > li:nth-child(6) > div.progress > div.progress-bar {
	padding-top: 3px;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
	margin: 0 auto;
	display: inline;
}


/*css for DashBoard only*/
div.container-fluid > div.row {
	height: 500px;
	background-image: url('');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 130%;
	margin-top: -15px;
}
div.container-fluid > div.row > div.landing > div.col-md-8 {
	
}
/*End of css for DashBoard*/